vti_encoding:SR|utf8-nl
mailto\:stephan@ipksim.de:home.html
firststeps-dateien/editdata.mso:firststeps.htm
http\://www1.ai.fh-nuernberg.de/studenten/sven.hansen/ipksim/dokumfinal.htm:dokumfinal.htm
http\://www.informatik.fh-nuernberg.de:home.html
downloads/ipksim_vajdoku.pdf:download.html
http\://java.sun.com/j2se/1.3/jre/:links.html
http\://java.sun.com/j2se/1.3/:links.html
mailto\:dev@ipksim.de:home.html
http\://www.fh-nuernberg.de:home.html
http\://www1.ai.fh-nuernberg.de/studenten/sven.hansen/ipksim/firststeps.htm:firststeps.htm
mailto\:sven@ipksim.de:home.html
http\://java.sun.com/products/jdk/1.1/:links.html
http\://java.sun.com/products/jdk/1.1/docs/api/packages.html:links.html
http\://www.ipksim.de:javadoc/serialized-form.html javadoc/help-doc.html javadoc/deprecated-list.html javadoc/overview-tree.html
http\://www.ipksim.de/cgi-bin/counter.pl:counter.html
http\://www.ipksim.de/:dokumfinal.htm
dokumfinal-dateien/editdata.mso:dokumfinal.htm
mailto\:supervisor@ipksim.de:home.html
mailto\:info@ipksim.de:referenz.html
http\://java.sun.com:links.html
http\://www-4.ibm.com/software/ad/vajava/:download.html links.html
mailto\:norbert@ipksim.de:home.html
http\://java.sun.com/j2se/1.3/docs/api/index.html:links.html
http\://java.sun.com/products/jdk/1.1/jre/index.html:links.html
http\://www.ibm.com:download.html
